.h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 28px;

  @media (min-width: $screen-xxs) {
    font-size: 32px;
  }

  @media (min-width: $screen-sm) {
    font-size: 40px;
  }

  @media (min-width: $screen-xl) {
    font-size: 48px;
  }
}

.h2 {
  font-weight: 800;
  font-size: 26px;
  text-transform: uppercase;

  @media (min-width: $screen-sm) {
    font-size: 30px;
  }

  @media (min-width: $screen-sm) {
    font-size: 30px;
  }

  @media (min-width: $screen-xl) {
    font-size: 36px;
  }
}

.lead {
  color: $blue-200;
}


