section.section
  .section__header
    h2.h2.section__title
      | Оформление
      = ' '
      span.lead Заказа

    p.section__label Перед заполнением формы ознакомьтесь с нашей схемой работы!

  .section__components
    include steps

    include form-component
