// Color palettes
$grey-100: #bdbdc0;
$grey-200: #bbb;
$grey-400: #6F6D7B;
$grey-700: #2A2B30;



$blue-200: #43ABF0;
$blue-500: #286690;

$dark-blue-600: #3D4050;
$dark-blue-900: #272733;

$red: #fe3636;

// Fonts
$font-size-base: 20px;
$line-height-base: 1.2;
$font-family-base: Lato, Helventica, Arial, sans-serif;

// Sizes
$shell-width: 1200px;
$shell-padding: 15px;

// -------- Animations -----------
$duration-base: 0.15s;
$timing-function-base: ease-out;

// Breakpoints
$screen-xxs: 480px;
$screen-xs: 640px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1024px;
$screen-xl: 1240px;


$screen-860: 860px;
$screen-1024: 1024px;
$screen-1440: 1440px;
$screen-1920: 1920px;
