mixin head()
  meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=2')
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name="description" content="short description")

  title LoremIpsum Page

  link(rel='stylesheet', href=`./css/common.min.css`)

  script(src='./js/init.min.js', defer, type='module')
