mixin intro(options)
  section.intro
    .intro__layout.container
      .intro__body
        h1.h1.intro__title !{options.title}

        .intro__list.list
          p.list__title At vero eos et accusamus et iusto odio dignissimos ducimus!
          ul.list__items
            li.list__item Totam rem aperiam eaque ipsa
            li.list__item Sit voluptatem accusantium doloremque laudantium
            li.list__item Sed ut perspiciatis, unde omnis iste natus error

        .intro__buttons
          button.button Заказать
          button.button.button_white Подробнее

