include ../partials/variables
include ../mixins/head

include ../mixins/header
include ../mixins/intro

doctype html
html(lang='en')
  block head

  body
    include ../blocks/icon-svg

    block header

    block content

    block footer
